In [28]:
import pandas as pd

In [29]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
citibike_df = pd.read_csv("202008-citibike-tripdata.csv")
citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2013,2020-08-01 00:00:00.8790,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1
1,7002,2020-08-01 00:00:01.5910,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1
2,155,2020-08-01 00:00:03.5810,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,-74.004607,42561,Customer,1969,0
3,2720,2020-08-01 00:00:05.0130,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,-73.981483,41607,Subscriber,1990,1
4,2938,2020-08-01 00:00:05.9420,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,-73.959390,36366,Customer,1969,0

In [30]:
# 2. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [39]:
# 3. Convert the 'tripduration' column to datetime datatype.
citibike_df['tripduration'] = pd.to_datetime(citibike_df['tripduration'], unit='s')
citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:33:33,2020-08-01 00:00:00.8790,2020-08-01 00:33:34.7260,3295,Central Park W & W 96 St,40.791270,-73.964839,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,19706,Customer,1998,1
1,1970-01-01 01:56:42,2020-08-01 00:00:01.5910,2020-08-01 01:56:44.0720,3144,E 81 St & Park Ave,40.776777,-73.959010,3671,E 81 St & 2 Ave,40.774779,-73.954275,37191,Subscriber,1966,1
2,1970-01-01 00:02:35,2020-08-01 00:00:03.5810,2020-08-01 00:02:38.6340,387,Centre St & Chambers St,40.712733,-74.004607,387,Centre St & Chambers St,40.712733,-74.004607,42561,Customer,1969,0
3,1970-01-01 00:45:20,2020-08-01 00:00:05.0130,2020-08-01 00:45:25.3270,3080,S 4 St & Rodney St,40.709340,-73.956080,3364,Carroll St & 5 Ave,40.675162,-73.981483,41607,Subscriber,1990,1
4,1970-01-01 00:48:58,2020-08-01 00:00:05.9420,2020-08-01 00:49:03.9640,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3282,5 Ave & E 88 St,40.783070,-73.959390,36366,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2329509,1970-01-01 00:26:02,2020-08-31 23:59:29.7690,2020-09-01 00:25:31.9660,298,3 Ave & Schermerhorn St,40.686832,-73.979677,3423,West Drive & Prospect Park West,40.661063,-73.979453,37282,Customer,2001,1
2329510,1970-01-01 00:17:03,2020-08-31 23:59:32.1320,2020-09-01 00:16:35.3710,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,3323,W 106 St & Central Park West,40.798186,-73.960591,35088,Customer,1993,2
2329511,1970-01-01 00:10:00,2020-08-31 23:59:33.0920,2020-09-01 00:09:33.4670,320,Leonard St & Church St,40.717571,-74.005549,380,W 4 St & 7 Ave S,40.734011,-74.002939,36353,Subscriber,2002,1
2329512,1970-01-01 00:12:17,2020-08-31 23:59:35.7900,2020-09-01 00:11:53.2310,3318,2 Ave & E 96 St,40.783964,-73.947167,3156,E 72 St & York Ave,40.766638,-73.953483,44935,Subscriber,1981,2
2329513,1970-01-01 00:06:13,2020-08-31 23:59:45.3470,2020-09-01 00:05:59.1630,3423,West Drive & Prospect Park West,40.661063,-73.979453,3398,Smith St & 9 St,40.674696,-73.997858,38938,Customer,1969,0

In [35]:
# 4. Check the datatypes of your columns. 
citibike_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [38]:
# 5. Export the Dataframe as a new CSV file without the index.
citibike_df.to_csv('cleaned_citibike_data_2020.csv', index= False)